---
import { getCollection } from 'astro:content'
import Section from '@components/Section.astro'
import TagList from '@components/TagList.astro'
import Icon from '@components/Icon.astro'
import ArticleList from '@components/ArticleList.astro'

const blogCollection = await getCollection('blog')
const blogEntries = blogCollection
  .sort((a, b) => (a.data.publishedAt > b.data.publishedAt ? -1 : 1))
  .filter((post) => post.data.draft !== true)
  .slice(0, 10)
---

<Section data-is="blog">
  <h2>最近のブログ</h2>

  <Fragment slot="content">
    <ArticleList source={blogEntries} data-expand="true" />
  </Fragment>
</Section>

<div class="archive-link">
  <a href="/blog">記事一覧へ</a>
</div>

<style>
  .archive-link :where(a) {
    display: block;
    padding-block: 1.5rem;
    color: unset;
    text-align: center;
    text-decoration: unset;
    border-block-start: var(--border-style);

    &:focus-visible {
      background-color: var(--blog-item-hover-color);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--blog-item-hover-color);
      }
    }
  }
</style>
