<div class="hero u-grid-background-img">
  <p class="hero-text-primary">時間と場所を越えて、成果で貢献します</p>
  <p class="hero-text-secondary">
    くちべたコーディングは、口下手なフリーランスのマークアップエンジニアです。
  </p>
</div>

<style>
  .hero {
    padding-block: 10rem;
    background-color: var(--hero-background-color);
    border-block-end: var(--border-style);

    @container main (width <= 940px) {
      padding-block: 5rem;
      padding-inline: 1rem;
    }
  }

  :is(.hero-text-primary, .hero-text-secondary) {
    inline-size: fit-content;
    margin-inline: auto;
  }

  .hero-text-primary {
    --clamp-min: 20;
    --clamp-max: 40;

    font-weight: bolder;
  }

  .hero-text-secondary {
    margin-block-start: 1rem;
  }
</style>
