---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'div'>

const { ...attrs } = Astro.props
---

<div class="container" {...attrs}>
  <slot />
</div>

<style>
  /**
   * `.container`だけ圧縮(astro-compress)すると、何故かネスト内の記述が消失するので、
   * ネストを使わない記述にする
   */
  .container {
    --_inline-size: 720px;

    max-inline-size: var(--_inline-size);
    margin-inline: auto;
    border-inline-start: var(--border-style);
    border-inline-end: var(--border-style);
  }

  @container main (width <= 640px) {
    .container {
      border-inline-start: unset;
      border-inline-end: unset;
    }
  }

  .container:where([data-size='medium']) {
    --_inline-size: 1080px;
  }

  .container:where([data-size='large']) {
    --_inline-size: 1280px;
  }
</style>
