---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'nav'>

const { ...attrs } = Astro.props
const listItems = [
  { label: 'ホーム', href: '/' },
  { label: '私について', href: '/about' },
  { label: 'ブログ', href: '/blog' },
  { label: 'お問い合わせ', href: '/contact' },
]
const { pathname } = Astro.url
---

<nav {...attrs}>
  <ul class="list">
    {
      listItems.map((listItem) => {
        return (
          <li class="listitem">
            {pathname === listItem.href ? (
              <a class="listitem-link" href={listItem.href} aria-current="page">
                {listItem.label}
              </a>
            ) : (
              <a class="listitem-link" href={listItem.href}>
                {listItem.label}
              </a>
            )}
          </li>
        )
      })
    }
  </ul>
</nav>

<style>
  :is(.global-nav, .global-footer-nav) :where(.list) {
    display: block flex;
    gap: 0 1.5rem;
    place-content: center;
    align-items: center;
  }

  :is(.global-nav, .global-footer-nav, .mobile-menu-nav) :where(a) {
    text-decoration: unset;

    @media (any-hover: hover) {
      &:hover {
        color: var(--link-color);
      }
    }

    &:focus-visible {
      color: var(--link-color);
    }

    &[aria-current='page'] {
      color: var(--link-color);
      pointer-events: none;
    }
  }

  .global-nav :where(a) {
    color: var(--header-link-color);
  }

  .global-footer-nav {
    margin-block-start: 1rem;
  }

  .global-footer-nav :where(a) {
    color: var(--footer-link-color);
  }

  .mobile-menu-nav {
    --clamp-min: 15;
  }

  .mobile-menu-nav :where(a) {
    display: block grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1rem;
    color: currentcolor;

    &::after {
      inline-size: 12px;
      aspect-ratio: 1;
      content: '';
      border-block-start: solid 1px currentcolor;
      border-inline-end: solid 1px currentcolor;
      rotate: 45deg;
    }
  }

  .mobile-menu-nav :where(.listitem) {
    border-block-start: 1px solid var(--modal-menu-border-color);
  }
</style>
